.feature-title {
    color: #2B3545;
    font-family: Mukta;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
}

.feature-accordion-prices {
    color: var(--Primary-Text, #2B3545);
    text-align: right;
    font-family: Mukta;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}

.feature-accordion-prices-bottom-text {
    color: rgba(43, 53, 69, 0.80);
    text-align: left;
    font-family: Mukta;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
}