.vehicle-plans-Left-wrapper{
    overflow-y: auto;
}
.vehicle-plan-left {
  overflow: hidden; 
  max-height: 100vh; 
  padding-bottom: 91px;
}
.vehicle-plan-left::-webkit-scrollbar{
  width: 0;
}
.vehicle-plan-left::-webkit-scrollbar-track {
  background-color: aliceblue; /* Background color of the scrollbar track */
}

.vehicle-plan-left::-webkit-scrollbar-thumb {
  background-color: #3498db; /* Color of the scrollbar thumb */
  border-radius: 6px; /* Rounded corners for the thumb */
}

.vehicle-plan-left::-webkit-scrollbar-thumb:hover {
  background-color: #2980b9; /* Darker color on hover */
}
.vehicle-plan-left:hover::-webkit-scrollbar{
  width: 5px;
}

.vehicle-plan-left:hover,
.vehicle-plan-left:focus {
  overflow-y: auto; 
}


@media screen and (max-width: 950px) {
    .vehicle-plans-Left-wrapper {
      display: none;
    }
    
  }